.navbar{
    background-color: #ff8400;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 60px;
    padding-left: 60px;
}
.navbar a{
    font-size: 35px;
    text-decoration: None;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: white;
}
a:hover{
    color: hsl(31, 100%, 64%);
}
